<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="OS0-128">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="OS0-128" params="*origin parent:=base_link name:=os0_sensor topic:=/os0_cloud_node/points hz:=10 lasers:=128 samples:=512 collision_range:=0.7 min_range:=0.225 max_range:=100.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI}">

    <joint name="mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <inertial>
         <mass value="0.000000001"/>
         <origin xyz="0 0 0.0365" rpy="0 0 0" />
         <inertia ixx="0.000241148" ixy="0" ixz="0"
          iyy="0.000241148" iyz="0" izz="0.000264"/>
      </inertial>
      <collision name="base_collision">
         <origin xyz="0 0 0.0365" rpy="0 0 0" />
         <geometry>
 	        <cylinder radius="0.04" length="0.073"/>
         </geometry>
      </collision>
      <visual name="base_visual">
         <origin xyz="0 0 0.0" rpy="0 0 1.5707" />
         <geometry>
	         <mesh filename="package://lidar_description/meshes/Ouster/ouster.dae" />
           <!-- <cylinder length="0.073" radius="0.04" /> -->
         </geometry>
      </visual>
    </link>

    <link name="os0_imu" />

    <link name="os0_lidar" />


    <joint name="imu_link_joint" type="fixed">
      <parent link="${name}" />
      <child link="os0_imu" />
      <origin xyz="0.006253 -0.011775 0.007645" rpy="0 0 0" />
    </joint>
    <gazebo reference="os0_imu">
    </gazebo>

    <joint name="lidar_link_joint" type="fixed">
      <parent link="${name}" />
      <child link="os0_lidar" />
      <origin xyz="0.0 0.0 0.03618" rpy="0 0 0" />
    </joint>

    <!-- Gazebo requires the ouster_gazebo_plugins package -->
    <gazebo reference="${name}">
        <sensor type="ray" name="${name}-os0-128">
          <pose>0 0 0 0 0 0</pose>
          <visualize>false</visualize>
          <update_rate>${hz}</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>${samples}</samples>
                <resolution>1</resolution>
                <min_angle>${min_angle}</min_angle>
                <max_angle>${max_angle}</max_angle>
              </horizontal>
              <vertical>
                <samples>${lasers}</samples>
                <resolution>1</resolution>
                <min_angle>-${45*M_PI/180.0}</min_angle>
                <max_angle>${45*M_PI/180.0}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>${min_range}</min>
              <max>${max_range}</max>
              <resolution>0.03</resolution>
            </range>
          </ray>
          <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_lidar.so">
           <topicName>${topic}</topicName>
            <frameName>${name}</frameName>
            <min_range>${min_range}</min_range>
            <max_range>${max_range}</max_range>
            <gaussianNoise>${noise}</gaussianNoise>
          </plugin>
        </sensor>
    </gazebo>

  <!-- IMU -->
  <gazebo>
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>/</robotNamespace>
      <updateRate>100.0</updateRate>
      <bodyName>os0_imu</bodyName>
      <topicName>/os0_cloud_node/imu</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.005</headingDrift>
      <headingGaussianNoise>0.005</headingGaussianNoise>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>
